# Antwoorden

Dit notebook bevat de uitwerking van de opdrachten uit het notebook [opdrachten](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/opdrachten.ipynb).

### Opdracht 1: string

In [10]:
opdracht = '<<< n-o-h-t-y-p >>>'

***

In [11]:
# uitwerking 1
opdracht[-5:3:-2].capitalize()

'Python'

In [12]:
# uitwerking 2
opdracht[4:-4][::-2].capitalize()

'Python'

In [13]:
# uitwerking 3
opdracht[4:-4].replace('-', '')[::-1].capitalize()

'Python'

In [14]:
# uitwerking 4
opdracht.split()[1].replace('-', '')[::-1].capitalize()

'Python'

In [15]:
# uitwerking 5
opdracht.strip('< >').replace('-', '')[::-1].capitalize()

'Python'

### Opdracht 2: list

In [16]:
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

In [17]:
uitkomst = 'Without requirements or design, coding Python is the art of adding bugs to an empty Jupyter Notebook.'.split()

***

In [18]:
# uitwerking 1
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

opdracht[opdracht.index('programming')] = 'coding'
opdracht.insert(opdracht.index('coding') + 1, 'Python')
opdracht.pop()
opdracht.pop()
opdracht.extend(['Jupyter', 'Notebook.'])

opdracht == uitkomst

True

In [19]:
# uitwerking 2
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

opdracht[opdracht.index('programming')] = 'coding'
opdracht.insert(opdracht.index('coding') + 1, 'Python')
opdracht.remove('text')
opdracht.remove('file.')
opdracht.append('Jupyter')
opdracht.append('Notebook.')

opdracht == uitkomst

True

### Opdracht 3: list comprehension

In [20]:
# uitwerking 1
%timeit [(c * 9/5 + 32) for c in range(100) if (c * 9/5 + 32) > 150 and int(str(c * 9/5 + 32).split('.')[-1]) == 0]

99.8 µs ± 905 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:  
* 100 loops
* conversie van float naar string
* split string
* subsetting
* conversie van string naar int

In [21]:
# uitwerking 2
%timeit [(c * 9/5 + 32) for c in range(100) if (c * 9/5 + 32) > 150 and str(c * 9/5 + 32).split('.')[-1] == '0']

86.7 µs ± 1.15 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:
* 100 loops
* conversie van float naar string
* split string
* subsetting

In [22]:
# uitwerking 3
%timeit [(c * 9/5 + 32) for c in range(100) if (c * 9/5 + 32) > 150 and (c * 9/5 + 32) == int(c * 9/5 + 32)]

59 µs ± 2.47 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:
* 100 loops
* conversie van float naar int

In [23]:
# uitwerking 4
%timeit [(c * 9/5 + 32) for c in range(100) if (c * 9/5 + 32) > 150 and c % 5 == 0]

34.3 µs ± 642 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:
* 100 loops

In [24]:
# uitwerking 5
%timeit [(c * 9/5 + 32) for c in range(0, 100, 5) if (c * 9/5 + 32) > 150]

8.38 µs ± 167 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

Korte performance analyse:
* 20 loops !!

Toelichting:  
* In de conversieformule wordt er gedeeld door 5.
* Elk veelvoud van 5 (tussen de 0 en de 100) levert daarom een geheel getal (integer) op bij delen door 5.
* En dat blijft een geheel getal als je er 32 bij optelt.
* Met deze wetenschap kun je het aantal loops flink terug brengen!
* Hiermee heb je tevens het voordeel dat er één conditie minder achter het if-statement nodig is.
* Daarmee is deze oplossing ongeveer 4x sneller dan de '2nd best solution' en ongeveer 12x sneller dan uitwerking nr 1.

### Opdracht 4a: for

In [25]:
# uitwerking 1
aantal = 0
for num in range(1, 101):
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    aantal += 1
    print(num)
print('\nEr zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(aantal))

1
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97

Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [26]:
# uitwerking 2
resultaat = list()
for num in range(1, 101):
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    resultaat.append(num)
print(resultaat)
print('Er zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]
Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [27]:
# uitwerking 3
resultaat = list()
for num in range(1, 101):
    test_resultaat = True
    for test in range(2, 6):
        if num % test == 0:
            test_resultaat = False
            break
    if test_resultaat:
        resultaat.append(num)
print(resultaat)
print('Er zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]
Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

### Opdracht 4b: while

In [28]:
# uitwerking 1
num = 0
aantal = 0
while True:
    num += 1
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    if num > 100:
        break
    print(num)
    aantal += 1
print('\nEr zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(aantal))

1
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97

Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [29]:
# uitwerking 2
num = 0
resultaat = list()
while True:
    num += 1
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    if num > 100:
        break
    resultaat.append(num)
print(resultaat)
print('Er zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]
Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [30]:
# uitwerking 3
num = 0
resultaat = list()
while True:
    num += 1
    teller = 0 # teller om het aantal getallen uit range(2, 6) te tellen waardoor num deelbaar is.
    for test in range(2, 6):
        if num % test == 0:
            teller += 1
            break # break de for loop als num deelbaar is door een getal uit range(2, 6)
    if teller == 0:
        resultaat.append(num)
    if num >= 100:
        break
print(resultaat)
print('Er zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]
Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

### Opdracht 5a: function

In [31]:
# uitwerking
def deel(x, y):
    return x // y, x % y

deel(15, 7)

(2, 1)

### Opdracht 5b: error handling

In [32]:
# uitwerking
def deel(x = None, y = 1):
    try:
        if x == None:
            raise ValueError("Argument 'x' ontbreekt of heeft waarde 'None'")
        return x // y, x % y
    except ZeroDivisionError as E:
        print(E)
    except TypeError as E:
        print(E)
    except ValueError as E:
        print(E)

In [33]:
print(1, deel(15, 7), '\n') # (2, 1)
print(2, deel(7, 15), '\n') # (0, 7)
print(3, deel(15), '\n') # (15, 0)
print(4, deel(0, 15), '\n') # (0, 0)
print(5, deel(5.5, 2.5), '\n') # (2.0, 0.5)
print(6, deel(15, 0), '\n') # integer division or modulo by zero
print(7, deel('vijftien', 'zeven'), '\n') # unsupported operand type(s) for //: 'str' and 'str'
print(8, deel([15, 7]), '\n') # unsupported operand type(s) for //: 'list' and 'int'
print(9, deel(y = 7)) # Argument 'x' ontbreekt of heeft waarde 'None'

1 (2, 1)

2 (0, 7)

3 (15, 0)

4 (0, 0)

5 (2.0, 0.5)

integer division or modulo by zero
6 None

unsupported operand type(s) for //: 'str' and 'str'
7 None

unsupported operand type(s) for //: 'list' and 'int'
8 None

Argument 'x' ontbreekt of heeft waarde 'None'
9 None

In [34]:
# uitwerking, optioneel
def deel(x = None, y = 1):
    try:
        if x == None:
            raise ValueError("Argument 'x' ontbreekt of heeft waarde 'None'")
        if int(x % y) == x % y:
            return {'aantal': int(x // y), 'rest': int(x % y)}
        else:
            return {'aantal': int(x // y), 'rest': x % y}
    except ZeroDivisionError as E:
        print(E)
    except TypeError as E:
        print(E)
    except ValueError as E:
        print(E)

In [35]:
print(deel(8.5, 2.5), '\n')
print('aantal:', type(deel(8.5, 2.5)['aantal']))
print('rest  :', type(deel(8.5, 2.5)['rest']))

{'aantal': 3, 'rest': 1}

aantal: <class 'int'>
rest  : <class 'int'>

In [36]:
print(deel(8.5, 3.5), '\n')
print('aantal:', type(deel(8.5, 3.5)['aantal']))
print('rest  :', type(deel(8.5, 3.5)['rest']))

{'aantal': 2, 'rest': 1.5}

aantal: <class 'int'>
rest  : <class 'float'>

### Opdracht 6: lambda expression

In [37]:
celsius = range(100)

***

In [38]:
list(filter(lambda f: f > 200, map(lambda c: c * 9 / 5 + 32, celsius)))

[201.2, 203.0, 204.8, 206.6, 208.4, 210.2]