# Opdrachten

### opdracht 1: string

In onderstaande cell is de string `opdracht` gedefinieerd.

In [1]:
opdracht = '<<< n-o-h-t-y-p >>>'

De opdracht is om uit de string `opdracht` de waarde 'Python' te verkrijgen.  
Maak daarbij uitsluitend gebruik van _subsetting_ en _class methods_.  

Er zijn verschillende oplossingen mogelijk. Probeer er ten minst twee te vinden.  
Wel van de gevonden oplosingen vind je het meest _Pythonic_?  

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.  
Vergeet ook niet om je vrienden [Google](https://www.google.com) en [Stack Overflow](https://stackoverflow.com) te raadplegen als je er niet uitkomt

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [2]:
# check data type
type(opdracht)

str

In [3]:
# uitwerking 1
opdracht[-5:3:-2].capitalize()

'Python'

In [4]:
# uitwerking 2
opdracht[4:-4][::-2].capitalize()

'Python'

In [5]:
# uitwerking 3
opdracht[4:-4].replace('-', '')[::-1].capitalize()

'Python'

In [6]:
# uitwerking 4
opdracht.split()[1].replace('-', '')[::-1].capitalize()

'Python'

In [7]:
# uitwerking 5
opdracht.strip('< >').replace('-', '')[::-1].capitalize()

'Python'

### Opdracht 2: list

In [8]:
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

In [9]:
uitkomst = 'Without requirements or design, coding Python is the art of adding bugs to an empty Jupyter Notebook.'.split()

In deze opdracht ga je aan de slag met de list `opdracht`.  
Deze pas je zodanig aan de de uitkomst ervan gelijk is aan de list `uitkomst`.
Maak daarbij uitsluitend gebruik van _subsetting_ en _class methods_.  

Je kunt je uitwerking eenvoud controleren door het statement `opdracht == uitkomst` uit te voeren. 

Er zijn verschillende oplossingen mogelijk. Voor deze opdracht is het voldoende als je er één uitwerkt.  
De oplossing bestaat uit meerdere regels code.  

Wellicht leuk om te weten dat je met het statement `' '.join(opdracht)` de list 'opdracht' kunt omzetten naar een string object.

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.

### Uitwerking

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

In [10]:
# uitwerking 1
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

opdracht[opdracht.index('programming')] = 'coding'
opdracht.insert(opdracht.index('coding') + 1, 'Python')
opdracht.pop()
opdracht.pop()
opdracht.extend(['Jupyter', 'Notebook.'])

opdracht == uitkomst

True

In [11]:
# uitwerking 2
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

opdracht[opdracht.index('programming')] = 'coding'
opdracht.insert(opdracht.index('coding') + 1, 'Python')
opdracht.remove('text')
opdracht.remove('file.')
opdracht.append('Jupyter')
opdracht.append('Notebook.')

opdracht == uitkomst

True

### Opdracht 3: list comprehension

In deze opdracht ga je temperaturen tussen 0 en 100 (exclusief) in graden Celsius converteren naar temperaturen in graden Fahrenheit.  

Het resultaat is een _list object_ met temperaturen in graden Fahrenheit.  
Echter, in deze lijst mogen uitsluitend waarden voorkomen groter zijn dan 50 én die qua waarde een geheel getal zijn (bijvoorbeeld _wel_ `82.0` maar _niet_ `82.55555`).

Onderstaand de formule voor conversie van graden Celsius naar graden Fahrenheit.

$Fahrenheit = Celsius \times \frac{9}{5} + 32$

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.  

Ter controle kun je je eigen resultaat vergelijken met onderstaande list `resultaat`.

Ook hier zijn meerdere oplossingen mogelijk.

Welke van jouw oplossingen geeft de beste performance?

In [12]:
resultaat = [52.0, 57.0, 62.0, 67.0, 72.0, 77.0, 82.0, 87.0]

### Uitwerking

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

In [13]:
# uitwerking 1
%timeit [(c * 5/9 + 32) for c in range(100) if (c * 5/9 + 32) > 50 and int(str(c * 5/9 + 32).split('.')[-1]) == 0]

236 µs ± 7.73 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

Korte performance analyse:  
* 100 loops
* conversie van float naar string
* split string
* subsetting
* conversie van string naar int

In [14]:
# uitwerking 2
%timeit [(c * 5/9 + 32) for c in range(100) if (c * 5/9 + 32) > 50 and str(c * 5/9 + 32).split('.')[-1] == '0']

203 µs ± 7.94 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

Korte performance analyse:
* 100 loops
* conversie van float naar string
* split string
* subsetting

In [15]:
# uitwerking 3
%timeit [(c * 5/9 + 32) for c in range(100) if (c * 5/9 + 32) > 50 and (c * 5/9 + 32) == int(c * 5/9 + 32)]

85.9 µs ± 5.61 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:
* 100 loops
* conversie van float naar int

In [16]:
# uitwerking 4
%timeit [(c * 5/9 + 32) for c in range(100) if (c * 5/9 + 32) > 50 and c % 9 == 0]

36.6 µs ± 1.6 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:
* 100 loops

In [17]:
# uitwerking 5
%timeit [(c * 5/9 + 32) for c in range(0, 100, 9) if (c * 5/9 + 32) > 50]

6.02 µs ± 64.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

Korte performance analyse:
* 12 loops !!

Toelichting:  
* In de conversieformule wordt er gedeeld door 9.
* Elk veelvoud van 9 (tussen de 0 en de 100) levert daarom een geheel getal (integer) op bij delen door 9.
* En dat blijft een geheel getal als je er 32 bij optelt.
* Met deze wetenschap kun je het aantal loops flink terug brengen!
* Hiermee heb je tevens het voordeel dat er één conditie minder achter het if-statement nodig is.
* Daarmee is deze oplossing ongeveer 6x sneller dan de '2nd best solution' en ongeveer 40x sneller dan uitwerking nr 1.

### Opdracht 4a: for

Maak een `for` loop die de getallen van 1 tot en met 100 afloopt.  

Test voor elk getal of dat deelbaar is door 2, 3, 4 of 5.  

Print alleen die getallen die **_niet_** niet deelbaar zijn door 2, 3, 4 of 5.  

Print aan het eind ook hoeveel van deze getallen er gevonden zijn.

### Uitwerking

In [50]:
# uitwerking 1
aantal = 0
for num in range(1, 101):
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    aantal += 1
    print(num)
print('\nEr zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.\n'.format(aantal))

1
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97

Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [51]:
# uitwerking 2
aantal = 0
resultaat = list()
for num in range(1, 101):
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    resultaat.append(num)
print(resultaat)
print('\nEr zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.\n'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]

Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

### Opdracht 4b: while

Maak nu dezelfde opdracht als bij 4a alleen nu met een `while True:` stratement.

### Uitwerking

In [12]:
num = 0
while True:
    num += 1
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    if num > 100:
        break
    print(num)

1
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97

In [52]:
aantal = 0
resultaat = list()
for num in range(1, 101):
    test_resultaat = True
    for test in (2, 3, 4, 5):
        if num % test == 0:
            test_resultaat = False
            break
    if test_resultaat:
        resultaat.append(num)
print(resultaat)
print('\nEr zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]

Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [ ]:
aantal = 0
resultaat = list()
for num in range(1, 101):
    niet_deelbaar = True
    while niet_deelbaar:
        for test in (2, 3, 4, 5):
            if num % test != 0:
                print(num, test)
                niet_deelbaar = False
                break
    resultaat.append(num)
print(resultaat)
print('\nEr zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))