# Opdrachten

### opdracht 1: string

In onderstaande cell is de string `opdracht` gedefinieerd.

In [1]:
opdracht = '<<< n-o-h-t-y-p >>>'

De opdracht is om uit de string `opdracht` de waarde 'Python' te verkrijgen.  
Maak daarbij uitsluitend gebruik van _subsetting_ en _class methods_.  

Er zijn verschillende oplossingen mogelijk. Probeer er ten minst twee te vinden.  
Wel van de gevonden oplosingen vind je het meest _Pythonic_?  

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.  
Vergeet ook niet om je vrienden [Google](https://www.google.com) en [Stack Overflow](https://stackoverflow.com) te raadplegen als je er niet uitkomt

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [2]:
# check data type
type(opdracht)

str

In [3]:
# uitwerking 1
opdracht[-5:3:-2].capitalize()

'Python'

In [4]:
# uitwerking 2
opdracht[4:-4][::-2].capitalize()

'Python'

In [5]:
# uitwerking 3
opdracht[4:-4].replace('-', '')[::-1].capitalize()

'Python'

In [6]:
# uitwerking 4
opdracht.split()[1].replace('-', '')[::-1].capitalize()

'Python'

In [7]:
# uitwerking 5
opdracht.strip('< >').replace('-', '')[::-1].capitalize()

'Python'

### Opdracht 2: list

In [8]:
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

In [9]:
uitkomst = 'Without requirements or design, coding Python is the art of adding bugs to an empty Jupyter Notebook.'.split()

In deze opdracht ga je aan de slag met de list `opdracht`.  
Deze pas je zodanig aan de de uitkomst ervan gelijk is aan de list `uitkomst`.
Maak daarbij uitsluitend gebruik van _subsetting_ en _class methods_.  

Je kunt je uitwerking eenvoud controleren door het statement `opdracht == uitkomst` uit te voeren. 

Er zijn verschillende oplossingen mogelijk. Voor deze opdracht is het voldoende als je er één uitwerkt.  
De oplossing bestaat uit meerdere regels code.  

Wellicht leuk om te weten dat je met het statement `' '.join(opdracht)` de list 'opdracht' kunt omzetten naar een string object.

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [10]:
# uitwerking 1
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

opdracht[opdracht.index('programming')] = 'coding'
opdracht.insert(opdracht.index('coding') + 1, 'Python')
opdracht.pop()
opdracht.pop()
opdracht.extend(['Jupyter', 'Notebook.'])

opdracht == uitkomst

True

In [11]:
# uitwerking 2
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

opdracht[opdracht.index('programming')] = 'coding'
opdracht.insert(opdracht.index('coding') + 1, 'Python')
opdracht.remove('text')
opdracht.remove('file.')
opdracht.append('Jupyter')
opdracht.append('Notebook.')

opdracht == uitkomst

True

### Opdracht 3: list comprehension

In deze opdracht ga je temperaturen tussen 0 en 100 (exclusief) in graden Fahrenheit converteren naar temperaturen in graden Celsius.  

Het resultaat is een _list object_ met temperaturen in graden Celsius.  
Echter, in deze lijst mogen uitsluitend waarden voorkomen groter zijn dan 10 én die qua waarde een geheel getal zijn (bijvoorbeeld _wel_ `20.0` maar _niet_ `20.55555`).

Onderstaand de formule voor conversie van graden Fahrenheit naar graden Celsius.

$C = (F - 32) \times \frac{5}{9}$

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.  

Ter controle kun je je eigen resultaat vergelijken met onderstaande list `resultaat`.

In [13]:
resultaat = [15.0, 20.0, 25.0, 30.0, 35.0]

Ook hier zijn meerdere oplossingen mogelijk.

Welke van jouw oplossingen geeft de beste performance?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [20]:
# uitwerking 1
%timeit [((f - 32) * 5/9) for f in range(100) if ((f - 32) * 5/9) > 10 and int(str((f - 32) * 5/9).split('.')[-1]) == 0]

178 µs ± 3.48 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:  
* 100 loops
* conversie van float naar string
* split string
* subsetting
* conversie van string naar int

In [21]:
# uitwerking 2
%timeit [((f - 32) * 5/9) for f in range(100) if ((f - 32) * 5/9) > 10 and str((f - 32) * 5/9).split('.')[-1] == '0']

152 µs ± 827 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:
* 100 loops
* conversie van float naar string
* split string
* subsetting

In [23]:
# uitwerking 3
%timeit [((f - 32) * 5/9) for f in range(100) if ((f - 32) * 5/9) > 10 and ((f - 32) * 5/9) == int((f - 32) * 5/9)]

58.5 µs ± 4.39 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:
* 100 loops
* conversie van float naar int

In [27]:
# uitwerking 4
%timeit [((f - 32) * 5/9) for f in range(100) if ((f - 32) * 5/9) > 10 and (f - 32) % 9 == 0]

31.2 µs ± 845 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Korte performance analyse:
* 100 loops

In [17]:
# uitwerking 5
%timeit [(c * 5/9 + 32) for c in range(0, 100, 9) if (c * 5/9 + 32) > 50]

3.47 µs ± 130 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

Korte performance analyse:
* 12 loops !!

Toelichting:  
* In de conversieformule wordt er gedeeld door 9.
* Elk veelvoud van 9 (tussen de 0 en de 100) levert daarom een geheel getal (integer) op bij delen door 9.
* En dat blijft een geheel getal als je er 32 bij optelt.
* Met deze wetenschap kun je het aantal loops flink terug brengen!
* Hiermee heb je tevens het voordeel dat er één conditie minder achter het if-statement nodig is.
* Daarmee is deze oplossing ongeveer 6x sneller dan de '2nd best solution' en ongeveer 40x sneller dan uitwerking nr 1.

### Opdracht 4a: for

Maak een `for` loop die de getallen van 1 tot en met 100 afloopt.  

Test voor elk getal of dat deelbaar is door 2, 3, 4 of 5.  

Print alleen die getallen die **_niet_** niet deelbaar zijn door 2, 3, 4 of 5.  

Print aan het eind ook hoeveel van deze getallen er gevonden zijn.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [18]:
# uitwerking 1
aantal = 0
for num in range(1, 101):
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    aantal += 1
    print(num)
print('\nEr zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(aantal))

1
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97

Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [19]:
# uitwerking 2
resultaat = list()
for num in range(1, 101):
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    resultaat.append(num)
print(resultaat)
print('Er zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]
Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [20]:
# uitwerking 3
resultaat = list()
for num in range(1, 101):
    test_resultaat = True
    for test in range(2, 6):
        if num % test == 0:
            test_resultaat = False
            break
    if test_resultaat:
        resultaat.append(num)
print(resultaat)
print('Er zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]
Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

### Opdracht 4b: while

Maak nu dezelfde opdracht als bij 4a alleen nu met een `while True:` stratement.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [21]:
# uitwerking 1
num = 0
aantal = 0
while True:
    num += 1
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    if num > 100:
        break
    print(num)
    aantal += 1
print('\nEr zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(aantal))

1
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97

Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [22]:
# uitwerking 2
num = 0
resultaat = list()
while True:
    num += 1
    if num % 2 == 0 or num % 3 == 0 or num % 4 == 0 or num % 5 == 0:
        continue
    if num > 100:
        break
    resultaat.append(num)
print(resultaat)
print('Er zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]
Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

In [23]:
# uitwerking 3
num = 0
resultaat = list()
while True:
    num += 1
    teller = 0 # teller om het aantal getallen uit range(2, 6) te tellen waardoor num deelbaar is.
    for test in range(2, 6):
        if num % test == 0:
            teller += 1
            break # break de for loop als num deelbaar is door een getal uit range(2, 6)
    if teller == 0:
        resultaat.append(num)
    if num >= 100:
        break
print(resultaat)
print('Er zijn {} getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.'.format(len(resultaat)))

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]
Er zijn 26 getallen gevonden die niet deelbaar zijn door 2, 3, 4 of 5.

### Opdracht 5a: function

Definieer een functie `deel` met als argumenten `x` en `y`.  

De functie dient twee waarden terug te geven:  
1. het aantal keer dat `x` in `y` past
2. de rest(waarde) die je over houd als je `x` door `y` deelt

Voorbeeld:
```python
deel(15, 7)
```
```
(2, 1)
```

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [24]:
# uitwerking
def deel(x, y):
    return x // y, x % y

deel(15, 7)

(2, 1)

### Opdracht 5b: error handling

Maak nu opdracht 5a opnieuw, maar voeg deze keer foutafhandeling toe, zodanig dat de code niet breekt tijdens uit uitvoeren.  

Wees zo speciek mogelijk bij het afhandelen van fouten.

Als `x` niet is gespecificeerd, dient er een specieke foutmelding te worden gegeven.  
Als `y` niet is gespecificeerd, dient de waarde `1` te worden gebruikt.

Test je oplossing met onderstaande code:

```python
print(1, deel(15, 7), '\n') # (2, 1)
print(2, deel(7, 15), '\n') # (0, 7)
print(3, deel(15), '\n') # (15, 0)
print(4, deel(0, 15), '\n') # (0, 0)
print(5, deel(5.5, 2.5), '\n')
print(6, deel(15, 0), '\n') # integer division or modulo by zero
print(7, deel('vijftien', 'zeven'), '\n') # unsupported operand type(s) for //: 'str' and 'str'
print(8, deel([15, 7]), '\n') # unsupported operand type(s) for //: 'list' and 'int'
print(9, deel(y = 7)) # ...
```

Optioneel:  
* Geef het resultaat terug als een dictionary met de keys `aantal` en `rest`.
* Zorg dat `aantal` altijd een `int` is en dat `rest` afhankelijk van de waarde een `int` of een `float` is.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [25]:
# uitwerking
def deel(x = None, y = 1):
    try:
        if x == None:
            raise ValueError("Argument 'x' ontbreekt of heeft waarde 'None'")
        return x // y, x % y
    except ZeroDivisionError as E:
        print(E)
    except TypeError as E:
        print(E)
    except ValueError as E:
        print(E)

In [26]:
print(1, deel(15, 7), '\n') # (2, 1)
print(2, deel(7, 15), '\n') # (0, 7)
print(3, deel(15), '\n') # (15, 0)
print(4, deel(0, 15), '\n') # (0, 0)
print(5, deel(5.5, 2.5), '\n') # (2.0, 0.5)
print(6, deel(15, 0), '\n') # integer division or modulo by zero
print(7, deel('vijftien', 'zeven'), '\n') # unsupported operand type(s) for //: 'str' and 'str'
print(8, deel([15, 7]), '\n') # unsupported operand type(s) for //: 'list' and 'int'
print(9, deel(y = 7)) # Argument 'x' ontbreekt of heeft waarde 'None'

1 (2, 1)

2 (0, 7)

3 (15, 0)

4 (0, 0)

5 (2.0, 0.5)

integer division or modulo by zero
6 None

unsupported operand type(s) for //: 'str' and 'str'
7 None

unsupported operand type(s) for //: 'list' and 'int'
8 None

Argument 'x' ontbreekt of heeft waarde 'None'
9 None

In [27]:
# uitwerking, optioneel
def deel(x = None, y = 1):
    try:
        if x == None:
            raise ValueError("Argument 'x' ontbreekt of heeft waarde 'None'")
        if int(x % y) == x % y:
            return {'aantal': int(x // y), 'rest': int(x % y)}
        else:
            return {'aantal': int(x // y), 'rest': x % y}
    except ZeroDivisionError as E:
        print(E)
    except TypeError as E:
        print(E)
    except ValueError as E:
        print(E)

In [28]:
print(deel(8.5, 2.5), '\n')
print('aantal:', type(deel(8.5, 2.5)['aantal']))
print('rest  :', type(deel(8.5, 2.5)['rest']))

{'aantal': 3, 'rest': 1}

aantal: <class 'int'>
rest  : <class 'int'>

In [29]:
print(deel(8.5, 3.5), '\n')
print('aantal:', type(deel(8.5, 3.5)['aantal']))
print('rest  :', type(deel(8.5, 3.5)['rest']))

{'aantal': 2, 'rest': 1.5}

aantal: <class 'int'>
rest  : <class 'float'>

### Opdracht 6: lambda expression

Maak een `lambda` expression die reeks `celsius` omzet naar graden Farhenheit gebruikmakend van de functie `map`. Filter met behulp van de functie `filter` alleen die resultaten die groter zijn dan 50.

In [3]:
celsius = range(100)

$Fahrenheit = Celsius \times \frac{9}{5} + 32$

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Uitwerking

In [5]:
celsius = range(100)
list(map(lambda x: 9 / 5 * x + 32, celsius))

[32.0,
 33.8,
 35.6,
 37.4,
 39.2,
 41.0,
 42.8,
 44.6,
 46.4,
 48.2,
 50.0,
 51.8,
 53.6,
 55.400000000000006,
 57.2,
 59.0,
 60.8,
 62.6,
 64.4,
 66.2,
 68.0,
 69.80000000000001,
 71.6,
 73.4,
 75.2,
 77.0,
 78.80000000000001,
 80.6,
 82.4,
 84.2,
 86.0,
 87.80000000000001,
 89.6,
 91.4,
 93.2,
 95.0,
 96.8,
 98.60000000000001,
 100.4,
 102.2,
 104.0,
 105.8,
 107.60000000000001,
 109.4,
 111.2,
 113.0,
 114.8,
 116.60000000000001,
 118.4,
 120.2,
 122.0,
 123.8,
 125.60000000000001,
 127.4,
 129.2,
 131.0,
 132.8,
 134.60000000000002,
 136.4,
 138.2,
 140.0,
 141.8,
 143.60000000000002,
 145.4,
 147.2,
 149.0,
 150.8,
 152.60000000000002,
 154.4,
 156.2,
 158.0,
 159.8,
 161.6,
 163.4,
 165.20000000000002,
 167.0,
 168.8,
 170.6,
 172.4,
 174.20000000000002,
 176.0,
 177.8,
 179.6,
 181.4,
 183.20000000000002,
 185.0,
 186.8,
 188.6,
 190.4,
 192.20000000000002,
 194.0,
 195.8,
 197.6,
 199.4,
 201.20000000000002,
 203.0,
 204.8,
 206.6,
 208.4,
 210.20000000000002]

In [ ]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = list(map(lambda x: (float(9)/5)*x + 32, Celsius))
print(Fahrenheit)

print(list(map(lambda x: (float(5)/9)*(x-32), Fahrenheit)))