# Opdrachten

### Opdracht 1: string

In onderstaande cell is de string `opdracht` gedefinieerd.

In [ ]:
opdracht = '<<< n-o-h-t-y-p >>>'

De opdracht is om uit de string `opdracht` de waarde 'Python' te verkrijgen.  
Maak daarbij uitsluitend gebruik van _subsetting_ en _class methods_.  

Er zijn verschillende oplossingen mogelijk. Probeer er ten minst twee te vinden.  
Welke van de gevonden oplosingen vind je het meest _Pythonic_?  

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.  
Vergeet ook niet om je vrienden [Google](https://www.google.com) en [Stack Overflow](https://stackoverflow.com) te raadplegen als je er niet uitkomt

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 2: list

In [ ]:
opdracht = 'Without requirements or design, programming is the art of adding bugs to an empty text file.'.split()

In [ ]:
uitkomst = 'Without requirements or design, coding Python is the art of adding bugs to an empty Jupyter Notebook.'.split()

In deze opdracht ga je aan de slag met de list `opdracht`.  
Deze pas je zodanig aan de de uitkomst ervan gelijk is aan de list `uitkomst`.
Maak daarbij uitsluitend gebruik van _subsetting_ en _class methods_.  

Je kunt je uitwerking eenvoud controleren door het statement `opdracht == uitkomst` uit te voeren. 

Er zijn verschillende oplossingen mogelijk. Voor deze opdracht is het voldoende als je er één uitwerkt.  
De oplossing bestaat uit meerdere regels code.  

Wellicht leuk om te weten dat je met het statement `' '.join(opdracht)` de list 'opdracht' kunt omzetten naar één string object.

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 3: list comprehension

In deze opdracht ga je temperaturen tussen 0 en 100 (exclusief) in graden Celsius converteren naar temperaturen in graden Fahrenheit.  

Het resultaat is een _list object_ met temperaturen in graden Fahrenheit.  
Echter, in deze lijst mogen uitsluitend waarden voorkomen groter zijn dan 150 én die qua waarde een geheel getal zijn (bijvoorbeeld _wel_ `158.0` maar _niet_ `159.8`).

Onderstaand de formule voor conversie van graden Celsius naar graden Fahrenheit.

$F = C \times \frac{9}{5} + 32$

Waar nodig kun je de Jupyter Notebooks [python](https://nbviewer.jupyter.org/github/Brinkhuis/Cursus/blob/master/notebooks/python.ipynb) en [datatypes](https://github.com/Brinkhuis/Cursus/blob/master/notebooks/datatypes.ipynb) er nog even op na slaan.  

Ter controle kun je je eigen resultaat vergelijken met onderstaande list `resultaat`.

In [ ]:
resultaat = [158.0, 167.0, 176.0, 185.0, 194.0, 203.0]

Ook hier zijn meerdere oplossingen mogelijk.

Welke van jouw oplossingen geeft de beste performance?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 4a: for

Maak een `for` loop die de getallen van 1 tot en met 100 afloopt.  

Test voor elk getal of dat deelbaar is door 2, 3, 4 of 5.  

Print alleen die getallen die **_niet_** niet deelbaar zijn door 2, 3, 4 of 5.  

Print aan het eind ook hoeveel van deze getallen er gevonden zijn.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 4b: while

Maak nu dezelfde opdracht als bij 4a alleen nu met een `while True:` stratement.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 5a: function

Definieer een functie `deel` met als argumenten `x` en `y`.  

De functie dient twee waarden terug te geven:  
1. het aantal keer dat `x` in `y` past
2. de rest(waarde) die je over houd als je `x` door `y` deelt

Voorbeeld:
```python
deel(15, 7)
```
```
(2, 1)
```

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 5b: error handling

Maak nu opdracht 5a opnieuw, maar voeg deze keer foutafhandeling toe, zodanig dat de code niet breekt tijdens uit uitvoeren.  

Wees zo speciek mogelijk bij het afhandelen van fouten.

Als `x` niet is gespecificeerd, dient er een specieke foutmelding te worden gegeven.  
Als `y` niet is gespecificeerd, dient de waarde `1` te worden gebruikt.

Test je oplossing met onderstaande code:

```python
print(1, deel(15, 7), '\n') # (2, 1)
print(2, deel(7, 15), '\n') # (0, 7)
print(3, deel(15), '\n') # (15, 0)
print(4, deel(0, 15), '\n') # (0, 0)
print(5, deel(5.5, 2.5), '\n')
print(6, deel(15, 0), '\n') # integer division or modulo by zero
print(7, deel('vijftien', 'zeven'), '\n') # unsupported operand type(s) for //: 'str' and 'str'
print(8, deel([15, 7]), '\n') # unsupported operand type(s) for //: 'list' and 'int'
print(9, deel(y = 7)) # ...
```

Optioneel:  
* Geef het resultaat terug als een dictionary met de keys `aantal` en `rest`.
* Zorg dat `aantal` altijd een `int` is en dat `rest` afhankelijk van de waarde een `int` of een `float` is.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 6: lambda expression

Maak een `lambda` expression die reeks `celsius` omzet naar graden Fahrenheit gebruikmakend van de functie `map`.  
Filter met behulp van de functie `filter` alleen die resultaten die groter zijn dan 200.

In [ ]:
celsius = range(100)

$F = C \times \frac{9}{5} + 32$

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 7: inlezen csv

Onderzoek met behulp van `help(pd.read_csv)` wat de verschillende attributen zijn van de functie `pd.read_csv()` en lees vervolgens het bestand `leesmij.csv` in uit de folder `data`. Vervang tijdens het inlezen ontbrekende of onbekende waarden door een NA-value. Toon vervolgens willekeurig 7 rijen.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 8: genereren data

In deze opdracht gaan we een `pandas` DataFrame genereren die lijkt op de data van de [risicoverevening](https://www.zorginstituutnederland.nl/financiering/risicoverevening-zvw/wat-is-risicoverevening). Deze dataset dient reproduceerbaar te zijn.  

Genereer een DataFrame `df` met 10.000 rijen. Maak daartoe de variabele `aantal_personen` aan met de waarde `10000`.  

Het DataFrame moet bestaan uit de volgende kolommen:
* id: een willekeurige _unieke_ integer van 5 cijfers
* grp: een willekeurige integer tussen 1 en 40 (groep waartoe betreffende persoon behoort)
* fkg: een willekeurige integer met de waarde 0 of 1 (farmaciekostengroep: 0 staat voor geen medicatie, 1 staat voor wel medicatie)
* dkg: een willekeurige integer met de waarde 0 of 1 (diagnosekostengroep: 0 staat voor geen diagnose, 1 staat voor wel diagnose)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 9a: toevoegen kolom

In opdracht 8 heb je een DataFrame gemaakt. In deze opdracht ga je aan het DataFrame de kolom toevoegen `geslacht` toevoegen.  
Mannen zitten in `grp` 1 t/m 20, vrouwen in `grp` 21 t/m 40. Gebruik de waarden `man` en `vrouw` voor de nieuwe kolom.  

Gebruik de functie `np.where()` om de nieuwe kolom te maken.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 9b: toevoegen kolom

In deze opdracht voegen we nog een kolom toe met de naam `65`. Hierin komen de waarden `65-` of `65+` te staan.

De waarde wordt bepaald aan de hand van de kolom `grp`:
```
grp  1 t/m 13 = 65-
grp 14 t/m 20 = 65+
grp 21 t/m 33 = 65-
grp 34 t/m 40 = 65+
```
Maak gebruik van _list comprehension_ voor het toevoegen van deze kolom.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 9c: toevoegen kolom

In deze opdracht gaan we een kolom `leeftijds_categorie` toevoegen met behulp van een functie op basis van de waarde in de kolom `grp`.  

De waarden zijn als volgt:

```
grp     leeftijds_categorie
-----   ------------------- 
1, 21    0 -  4
2, 22    5 -  9
3, 23   10 - 14
4, 24   15 - 19
5, 25   ...
```

Het eenvoudigste is om een functie te maken voor de `grp` waarden 1 t/m 20.  
De functie is daarna ook toe te passen op de waarden 21 t/m 40 door van het argument telkens eerst 20 af te halen.

```python
def leeftijd_categorie(grp):
    leeftijd_start = grp * 5 - 5
    leeftijd_eind = grp * 5 - 1
    return str(leeftijd_start) + '-' + str(leeftijd_eind)
```
   
Maak nu zelf de kolom `leeftijds_categorie` m.b.v. bovenstaande functie.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 9d: toevoegen kolom

Voeg als laatste een kolom `gezondheid_status` toe. Een persoon (id) is status `gezond` als zowel `fkg` als `dkg` beiden de waarde `0` hebben, anders is de status `ongezond`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 10a: lees tabblad Excel

Lees het uit Excel bestand `leesmij.xlsx` uit de folder `data` het tabblad `2018` in een DataFrame met de naam `excel`.  
Raadpleeg de help-functie met `help(pd.read_excel)` voor de beschikbare argumenten van deze functie.

In [ ]:
help(pd.read_excel)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 10b: lees alle tabbladen uit Excel

Lees uit dezelfde file als bij opdracht 10a nu alle tabbladen in een object met de naam `excel`.  
Wat is het type van het object 'excel'?  
Toon de data voor het jaar 2017.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 10c: lees alle tabbladen in één DataFrame

Lees de tabblad-data in vanuit de `excel` dictionary met een `for` loop en voeg deze data toe aan één DataFrame.  
Naast de kolommen `Regio`, `Q1`, `Q2`, `Q3` en `Q4` heb je ook een kolom `Jaar` nodig. Deze kun je vullen vanuit de keys van de dictionary. Bekijk de notebooks met de toelichting over data types en control structures nog even indien nodig. Ook heb je de informatie uit de help van `pd.DataFrame` nodig om te zien toe je data toevoegt aan een DataFrame. Gebruik voor ook [Google](www.google.com) als je er niet uit komt.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 10d: Wide to Long

In opdracht 10c heb je alle data uit tabbladen van het oorspronkelijke Excel-bestand ingelezen in één DataFrame.  
Dit DataFrame heeft nog een _wide_ format en in deze oefening ga je die omzetten naar een _long_ format.

In het _long_ format dient het DataFrame de kolommen `Regio`, `Jaar`, `Kwartaal` en `Aantal` te hebben.  
Toon de data voor het jaar 2017.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 11: Interactive Visualization with Widgets

Maak een interactieve [Paired density and scatterplot matrix](https://seaborn.pydata.org/examples/pair_grid_with_kde.html) met seaborn van de Iris dataset.  
Hiervoor kun je het voorbeeld uit de [Example Gallary](https://seaborn.pydata.org/examples/pair_grid_with_kde.html) gebruiken.

Gebruik de [SelectMultiple](https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#SelectMultiple) widget om elke combinatie van species te kunnen selecteren.

Wat valt je op bij het gebruik van deze widget in combinatie met deze PairGrid plot?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 12a: Bokeh

Maak een bokeh plot van de dataset `autompg`.  

Op de x-as zet je de variabele `weight`, op de y-as de variabele `hp` (horsepower).

Geef elke (unieke) waarde van de variabele `cyl` (cylinders) een eigen kleur en voeg op basis van deze variabele een interactieve legenda toe.


Optioneel:
* titel toevoegen
* labels voor x-as en y-as toevoegen

De dataset `autompg` kun je laden door middel van het statement

```python
from bokeh.sampledata.autompg import autompg
```

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')

### Opdracht 12b: Bokeh Server App

Maak een eenvoudige Bokeh Server App met behulp van de Iris dataset.  

Het resultaat moet zijn een scatter plot met daarin `sepal_length` en `sepal_width` op de x-as en y-as waarbij je middels een 'dropdown' de `species` kunt kiezen waarvoor je de scatter plot wilt afbeelden. Tooltips mag, maar hoeft niet.

Geeft het script `bokeh_app_iris.py` als file name.

Start de `Anaconda Prompt` en ga naar de dicetory waar je het script hebt opgeslagen.

Run de Bokeh Web App met het commando `bokeh serve bokeh_app.py`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError('Opdracht niet gemaakt?')